.input {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  background: rgba(0, 0, 0, 0.45);
  border: 1px solid rgba(0, 255, 80, 0.35);
  color: #caffc7;
  border-radius: 6px;
  font-size: 18px;
  font-family: "Share Tech Mono", monospace;
  outline: none;
  transition: 0.2s;
}

.input:focus {
  box-shadow: 0 0 12px rgba(0, 255, 80, 0.35);
  border-color: rgba(0, 255, 80, 0.7);
}
