.apocalypse-bg {
  position: fixed;
  perspective: 800px;
  inset: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: -1;
}

.parallax-layer {
  position: absolute;
  width: 55px;
  opacity: 0.75;

  transform-style: preserve-3d;
}

.parallax-layer.floating {
  animation: float 4.8s ease-in-out infinite;
}

@keyframes float {
  0% { 
    transform: translateY(0px) rotate(-7deg); 
  }
  50% { 
    transform: translateY(-10px) rotate(9deg);
  }
  100% { 
    transform: translateY(0px) rotate(-7deg); 
  }
}

.smoke-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .parallax-layer {
    width: 140px;
    opacity: 0.55;
  }

  .parallax-layer {
  position: absolute;
  width: 45px;
  opacity: 0.75;
}
  
}
